{% extends 'base.html' %}

{% block title %}Créer une critique{% endblock title %}

{% block content %}
<h2 class="critical_title">Créer un critique</h2>

    <dir class="ticket_and_reviews">
        <div class="ticket">
            <form class="add_ticket" method="post" enctype="multipart/form-data">
                <p class="book_article">Livre / Article</p>
                {{ ticket_form.as_p }}
        </div>
            <div class="reviews">
                <p class="book_critical">Critique</p>
                {{ review_form.as_p }}
                {% csrf_token %}
                <div class="ticket_and_reviews__btn">
                    <button class="btn" type="submit">Envoyer</button>
                </div>
            </div>
        </form>
    </dir>
{% endblock content %}
