{% extends 'base.html' %}

{% block content %}
    <h2 class="edit_ticket_title">Vos posts</h2>

    <form method="post">
        <div class="edit_ticket_container">
            <span class="edit_ticket__ticket_title">{{ ticket.title }}</span>
            <p class='edit_ticket__description'>
                {{ ticket.description }}
            </p>
            {% if ticket.image.url is not None %}
                <p class='edit_ticket__image'>
                    <img class='edit_ticket__image' src='{{ ticket.image.url }}'>
                </p>
            {% endif %}
            {{ edit_form.as_p }}
            {% csrf_token %}
        </div>
    </form>

    <form method="post">
        {{ delete_form.as_p }}
        {% csrf_token %}
    </form>
{% endblock content %}