{% extends 'base.html' %}

{% block title %}Flux{% endblock title %}

{{ title.title }}

{% block content %}
    <div class='critical'>
        <a href="{% url 'create_ticket' %}"><button class='btn flux-header-btn'>Demander une critique</button></a>
        <a href="{% url 'create_review' %}"><button class='btn flux-header-btn'>Créer une critique</button></a>
    </div>

    <div class="flux">
        {% for post in posts %}
            <div class="post">
                {% if post.content_type == 'TICKET' %}
                    {% include 'reviews/ticket_snippet.html' with ticket=post create_review=True %}
                
                {% elif post.content_type == 'REVIEW' %}
                    {% include 'reviews/review_snippet.html' with review=post ticket=post.ticket %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
