{% load reviews_extras %}

<div class='review_snippet'>
    <div class='review_snippet__date'>
        <p>Vous avez publié une review</p>
        <p>{{ review.time_created }}</p>
    </div>
    
    <h3 class='review_snippet__title'>{{ review.headline }} - {{ review.rating|stars }}</h3>
    
    <div>
        <p class='review_snippet__description'>{{ review.body }}</p>
        
        {% include 'reviews/ticket_snippet.html' %}
    </div>
    
    {% if edit_review %}
        <div class='review_snippet__footer'>
            <a href="{% url 'update_review' review.id %}"><button class='btn post_modify__btn'>Modifier</button></a>

            <a href="{% url 'delete_review' review.id %}"><button class='btn post_delete__btn'>Supprimer</button></a>
        </div>
    {% endif %}
</div>