{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'reviews/style.css' %}">

{% block title %}{{ ticket.title }}{% endblock title %}
{% block content %}
    <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.user}} {{ ticket.time_created }}</p>
    <img src="{{ ticket.image.url }}">
    <p>{{ ticket.description }}</p>
    <a href="{% url 'edit_ticket' ticket.id %}"><button type='button'>Modifier le ticket</button></a>
    <a href="{% url 'home' %}"><button type='button'>Retourner</button></a>
{% endblock content %}
