{% extends 'base.html' %}

{% block title %}Page d'accueil{% endblock title %}

{% block content %}
    <!-- Login section -->
    <section class="login">
        <!-- Signup form -->
        <div class="login__signup">
            <h2>Inscrivez-vous maintenant</h2>
            <a href="{% url 'signup' %}"><button class="btn login_signup__btn" type='button'>S'inscrire</button></a>
        </div>
        <!-- Login form -->
        <div class="login__signin">
            <h2 class="login_signin__title">Connectez-vous</h2>
            <p>{{ error_message }}</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="login_btn">
                    <button class="btn login_signin__btn" type="submit">Se connecter</button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}