{% extends 'base.html' %}

{% block title %}Formulaire d'inscription{% endblock title %}

{% block content %}
    <section class="signup_register">
        <h2 class="register__title">Inscrivez-vous</h2>

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <form method="post">
            <div class="register__submit">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="register_btn">
                    <a href="{% url 'login' %}"><button class="btn register_submit_btn" type='button'>Retourner</button></a>
                    <button class="btn register_submit_btn" type="submit">S’inscrire</button>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}