{% extends "base.html" %}

{% block title %}Onglet d'abonnements{% endblock title %}

{% block content %}
    <section class="users_follows">
        <h2>Suivre d'autres utilisateurs</h2>
        <div class="users_follows__add">
        <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input class="btn users_follows_btn" type="submit" value="Envoyer">
            </form>
        </div>
    </section>

    <section class="subscription">
        <h2>Abonnements</h2>
        <ul>
            {% for subscription in subscriptions %}
                {% if not forloop.first %}
                    <hr>
                {% endif %}
                <li>
                    {{ subscription.followed_user }}
                    <a href="{% url 'unsubscribe' subscription.id %}"><button class="btn subscription_btn" type='button'>Désabonner</button></a>
                </li>
            {% empty %}
                <p>Aucun abonnement</p>
            {% endfor %}
        </ul>
    </section>

    <section class="subscribers">
        <h2>Abonnés</h2>
        <ul>
            {% for user in subscribers %}
                {% if not forloop.first %}
                    <hr>
                {% endif %}
                <li>{{ user }}</li>
            {% empty %}
                <p>Aucun abonné</p>
            {% endfor %}
        </ul>
    </section>
{% endblock %}