{% extends 'base.html' %}

{% block content%}
    <section>
        <h2 class="unsubscribe__title">Arrêter de suivre {{ followed_user }} ?</h2>
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="btn unsubscribe_btn">
                <a href="{% url 'subscriptions' %}"><button class="btn" type='button'>Retour</button></a>
                <input class="btn unsubscribe_input" type="submit" value="Ne plus suivre">
            </div>
        </form>
    </section>
{% endblock %}
