*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* base.html - Titre qui apparait sur toutes les pages du site. */
.title {
    height: 60px;
    width: auto;
    padding-top: 20px;
}
.company_title {
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

/* base.html - Barre de navigation du site, qui s'associe au titre si "user.authentifier". */
/* .nav {
    
}

.nav__bar {

}

.nav__bar__items {
    text-decoration: none;
} */


/*  signup.html - Formulaire d'inscription. */
/* .signup {

}

.signup__title {

}

.signup__submit {

}

.btn {

}

.signup_submit_btn {

} */


/* login.html - Page d'authentifiction */
/* .login {

}

.login__singup {

}

.login__signup_btn {

}

.login__signin {

}

.btn login__btn {

} */