/*#########/!\ Global /!\#########*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #f1f1f1;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px, 15px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 40px;
    font-weight: 800;
}
h2 {
    font-size: 25px;
    font-weight: 700;
}
.textbox {
    width: 400px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}
.btn {
    width: auto;
    padding: 8px 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
/*#########/!\ end Global /!\#########*/


/*#########/!\ base.html /!\#########*/
.base_title {
    height: 50px;
    margin-left: 42%;
    display: flex;
    align-items: center;
    padding-right: 100px;
}
.base_nav_link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-right: 20px;
    cursor: pointer;
}
/*#########/!\ end base.html /!\#########*/


/*#########/!\ login.html /!\#########*/
.login {
    max-width: 900px;
    margin: 0 auto;
    height: 250px;
    padding: 10px;
    margin-top: 150px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.login__signin, .login__signup {
    height: 100%;
    width: 100%;
    text-align: center;
}
.login_signin__title {
    padding-bottom: 15px;
}
.login__signin p {
    padding-bottom: 20px;
}
.login__signup h2 {
    width: 550px;
}
.login_btn {
    width: 420px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    padding-left: 50px;
}
.login_signin__message {
    font-size: 20px;
}
/*#########/!\ end login.html /!\#########*/


/*#########/!\ signup.html /!\#########*/
.signup_register {
    max-width: 900px;
    margin: 0 auto;
    height: 250px;
    padding: 10px;
    margin-top: 150px;
    gap: 100px;
    text-align: center;
}
.register__title {
    margin-bottom: 20px;
}
.register__submit p {
    padding-bottom: 20px;
}
.register_btn {
    width: 400px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: right;
    align-items: center;
}
/*#########/!\ end signup.html /!\#########*/


/*#########/!\ subscription.html /!\#########*/
.subrcitpion_followers {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    display:flex;
    flex-direction: column;
}
.subrcitpion_follows__users {
    height: 180px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}
.subscription {
    min-height: 200px;
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.subscription__title {
    text-align: center;
    padding-bottom: 10px;
}
.subscription_items {
    display: flex;
    padding-bottom: 2px;
}
.subscription_name {
    width: 620px;
    height: 35px;
    border: 1px black solid;
    padding-top: 5px;
    padding-left: 5px;
}
.subscription li {
    list-style-type: none;
}
.subscription_textbox_username {
    width: 500px;
    margin-right: 40px;
}
.subscription_name__btn {
    margin: 0;
    border-radius: 0;
    width: 100px;
    padding-left: 10px;
}
.subscription_subscribers {
    min-height: 200px;
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.subscription_subscribers__title{
    text-align: center;
}
.subscription_subscribers__username {
    width: 720px;
    height: 35px;
    font-weight: 600;
    font-size: 18px;
    border: 1px black solid;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-top: 5px;
    list-style-type: none;
}
/*#########/!\ end subscription.html /!\ #########*/


/*#########/!\ unsubscribe.html /!\#########*/
.unsubscribe__title {
    max-width: 600;
    height: 50px;
    margin-top: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.unsubscribe_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}
/*#########/!\ end unsubscribe.html /!\#########*/


/*#########/!\ delete.html /!\#########*/
/*#########/!\ end delete.html /!\#########*/


/*#########/!\ edit_ticket.html /!\#########*/
/*#########/!\ end edit_ticket.html /!\#########*/


/*#########/!\ home.html - page de flux /!\#########*/
.critical {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 5px;
}
.flux {
    width: 35%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}
/*#########/!\ end home.html /!\#########*/


/*#########/!\ posts_ticket.html /!\#########*/
/*#########/!\ end posts_ticket.html /!\#########*/


/*#########/!\ posts.html /!\#########*/
/*#########/!\ end posts.html /!\#########*/


/*#########/!\ review_form.html /!\#########*/
.review_form__title {
    margin-top: 30px;
    text-align: center;
}
.review_form__create {
    max-width: 730px;
    height: 760px;
    margin: 0 auto;
    margin-top: 20px;  
    padding: 10px;
}
.book_article, .critical_article {
    max-width: 740px;
    margin: 0 auto;
    height: 380px;
    padding: 10px;
    border: 1px black solid;
}
.review_form_label__title, .review_form_label__image {
    margin-top: 15px;
}
.review_form__title input{
    width: 680px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 15px;
}
.review_form__decription, .review_form_critical__description, textarea {
    width: 680px;
    height: 130px;
}
.review_form_critical_label__title {
    margin-top: 15px;
}
.review_form_critical__title input{
    width: 680px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 10px;
}
.review_form_critical__rating {
    display: flex;
    justify-content: space-around;
}
.review_form_critical_label__rating, .review_form_critical_label__description {
    margin-top: 15px;
}
.review_form__btn {
    margin-left: 80%;
    margin-top: 8px;
}
/*#########/!\ end review_form.html /!\#########*/


/*#########/!\ review_snippet.html /!\#########*/
.review_snippet {
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}
.review_snippet__date{
    display: flex;
    justify-content: space-between;
}
.review_snippet__title{
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    padding: 10px;
}
.review_snippet__description {
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    padding: 10px;
}
/*#########/!\ end review_snippet.html /!\#########*/


/*#########/!\ ticket_form.html /!\#########*/
.ticket_form {
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;  
    padding: 10px;
}
.ticket_form__items {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10px;  
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.ticket_form_title {
    height: 50px;
    margin-left: 42%;
    display: flex;
    align-items: center;
    padding-right: 100px;
    margin-top: 40px;
}
.ticket_form__title input{
    width: 680px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 10px;
}
.ticket_form__description textarea{
    width: 680px;
}
.ticket_form_label_description, .ticket_form_label_title, .ticket_form_label_image {
    margin-top: 10px;
}
.ticket_form__image {
    font-size: 15px;
    margin-top: 10px;
}
.ticket_form_btn {
    margin-left: 80%;
}
/*#########/!\ end ticket_form.html /!\#########*/


/*#########/!\ ticket_snippet.html /!\#########*/
.post_snippet {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: black 1px solid;
    padding: 10px;
}
.post_snippet__user {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.post_snippet__title, .post_snippet__description {
    margin-bottom: 20px;
}
.post_snippet__title a {
    text-decoration: none;
}
/*#########/!\ end ticket_snippet.html /!\#########*/
