<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}LITReview{% endblock title %}
        </title>
    </head>

    <body>
        <h1>LITReview</h1>
        {% if user.is_authenticated %}
        <p><a href="{% url 'home' %}">Flux</a></p>
        <p><a href="{% url 'ticket_upload' %}">Posts</a></p>
        <p><a href="">Abonnements</a></p>
        <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}

        {% block content %}{% endblock content %}
        
        {% if user.is_authenticated %}
            <footer>
                <p>Laurent Jouron - Copyright 2023 &copy; - All rights reserved. <a href="{% url 'password_change' %}"> Changer le mot de passe</a></p>
            </footer>
        {% endif %}
    </body>
</html>
